<!-- =========================
Mobile Menu
===========================-->

<aside
  class="sidebar dark:bg-background-7 scroll-bar fixed top-0 right-0 z-999 h-screen w-full translate-x-full bg-white transition-all duration-300 sm:w-1/2 xl:hidden">
  <div class="space-y-4 p-5 sm:p-8 lg:p-9">
    <div class="flex items-center justify-between">
      <a href="./">
        <span class="sr-only">Home</span>
        <figure class="max-w-[44px]">
          <img src="./images/shared/logo.svg" alt="Voxil Ai " class="block w-full dark:hidden" />
          <img src="./images/shared/logo-dark.svg" alt="Voxil Ai " class="hidden w-full dark:block" />
        </figure>
      </a>
      <button
        class="nav-hamburger-close bg-background-4 dark:bg-background-9 relative flex size-10 cursor-pointer flex-col items-center justify-center gap-1.5 rounded-full">
        <span class="sr-only">Close Menu</span>
        <span class="bg-stroke-9/60 dark:bg-stroke-1 absolute block h-0.5 w-4 rotate-45"></span>
        <span class="bg-stroke-9/60 dark:bg-stroke-1 absolute block h-0.5 w-4 -rotate-45"></span>
      </button>
    </div>
    <div class="scroll-bar h-[85vh] w-full overflow-x-hidden overflow-y-auto pb-10">
      <ul>
        <!-- Company menu -->
        <Component src="src/components/shared/mobile-menu/company-menu.htm" />

        <!-- Services menu -->
        <Component src="src/components/shared/mobile-menu/services-menu.htm" />

        <!-- Resources menu -->
        <!-- <Component src="src/components/shared/mobile-menu/resources-menu.htm" /> -->

        <!-- Pricing link -->
        <li class="relative space-y-0">
          <a href="./pricing.html"
            class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block">
            Pricing
          </a>
        </li>

        <!-- Contact Us link -->
        <li class="relative space-y-0">
          <a href="./contact.html"
            class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block">
            Contact Us
          </a>
        </li>
      </ul>

      <div class="mt-6">
        <a href="./book-meeting.html"
          class="btn btn-md btn-secondary hover:btn-primary dark:btn-accent w-full flex justify-center text-center">
          <span>Book a Free Call</span>
        </a>
      </div>
    </div>
  </div>
</aside>