<!-- =========================
Feature section
===========================-->
<section
  class="bg-white pt-16 pb-16 md:pt-20 md:pb-20 lg:pt-[90px] lg:pb-[90px] xl:pt-[100px] xl:pb-[100px] dark:bg-black"
>
  <div class="main-container">
    <div class="mx-auto mb-10 max-w-[750px] space-y-5 text-center md:mb-[70px]">
      <span data-ns-animate data-delay="0.2" class="badge badge-green">Features</span>
      <div>
        <h2 data-ns-animate data-delay="0.3" class="mb-3">Everything your AI workflow demands.</h2>
        <p
          data-ns-animate
          data-delay="0.4"
          class="text-secondary/60 dark:text-accent/60 mx-auto max-w-[600px]"
        >
          From custom AI agent development to enterprise-grade workflow automation, Voxil AI provides the robust features your business needs to scale efficiency.
        </p>
      </div>
    </div>
    <!-- feature Items -->
    <div class="mb-10 grid grid-cols-12 space-y-8 md:gap-8 md:space-y-0 xl:mb-18">
      <div
        data-ns-animate
        data-delay="0.5"
        class="bg-background-3 dark:bg-background-7 col-span-12 space-y-6 rounded-[20px] p-8 md:col-span-6 lg:col-span-8"
      >
        <div class="space-y-2">
          <h5 class="max-sm:text-heading-6">AI-powered analytics & real-time ROI tracking.</h5>
          <p class="max-w-[450px]">
            Make data-driven business decisions with customized analytics dashboards that track automation efficiency, user behavior, and operational ROI in real time.
          </p>
        </div>
        <figure class="w-full">
          <img
            src="./images/ns-img-175.png"
            alt="feature image"
            class="hidden w-full rounded-2xl object-cover dark:block"
          />
          <img
            src="./images/ns-img-dark-119.png"
            alt="feature image"
            class="block w-full rounded-2xl object-cover dark:hidden"
          />
        </figure>
      </div>
      <div
        data-ns-animate
        data-delay="0.6"
        class="bg-background-3 dark:bg-background-7 col-span-12 space-y-6 rounded-[20px] p-8 md:col-span-6 lg:col-span-4"
      >
        <div class="space-y-2">
          <h5 class="max-sm:text-heading-6">Seamless API & enterprise tool integrations.</h5>
          <p class="max-w-[220px]">Connect your custom AI agents and workflows directly with CRMs, ERPs, databases, and 100+ business tools.</p>
        </div>
        <figure class="w-full">
          <img
            src="./images/ns-img-176.png"
            alt="feature image"
            class="block w-full rounded-2xl object-cover dark:hidden"
          />
          <img
            src="./images/ns-img-dark-120.png"
            alt="feature image"
            class="hidden w-full rounded-2xl object-cover dark:block"
          />
        </figure>
      </div>
      <div
        data-ns-animate
        data-delay="0.7"
        class="bg-background-3 dark:bg-background-7 col-span-12 space-y-6 rounded-[20px] p-8 md:col-span-6 lg:col-span-4"
      >
        <div class="space-y-2">
          <h5 class="max-sm:text-heading-6">Unified AI control center.</h5>
          <p class="">Manage multiple custom AI agents, monitor active workflow automations, and analyze agentic performance from a single centralized interface.</p>
        </div>
        <figure class="w-full">
          <img
            src="./images/ns-img-177.png"
            alt="feature image"
            class="block w-full rounded-2xl object-cover dark:hidden"
          />
          <img
            src="./images/ns-img-dark-121.png"
            alt="feature image"
            class="hidden w-full rounded-2xl object-cover dark:block"
          />
        </figure>
      </div>
      <div
        data-ns-animate
        data-delay="0.8"
        class="bg-background-3 dark:bg-background-7 col-span-12 space-y-6 rounded-[20px] p-8 md:col-span-6 lg:col-span-8"
      >
        <div class="max-w-[285px] space-y-2">
          <h5 class="max-sm:text-heading-6">Enterprise-grade security & secure LLM deployment.</h5>
          <p class="max-w-[311px]">
            Protect business data with end-to-end encryption, strict role-based access control, and scalable AI infrastructure optimized for secure LLM deployment.
          </p>
        </div>
        <figure class="w-full">
          <img
            src="./images/ns-img-178.png"
            alt="feature image"
            class="block h-full w-full rounded-2xl object-cover dark:hidden"
          />
          <img
            src="./images/ns-img-dark-122.png"
            alt="feature image"
            class="hidden h-full w-full rounded-2xl object-cover dark:block"
          />
        </figure>
      </div>
    </div>
  </div>
</section>