<!-- =========================
Integration section
===========================-->

<section
  class="bg-[url('/images/ns-img-169.png')] bg-cover bg-top bg-no-repeat py-[80px] md:h-[750px] md:py-[120px] lg:py-[156px] xl:h-[956px]"
>
  <div
    data-ns-animate
    data-delay="0.1"
    class="relative mx-auto h-[620px] max-w-[1600px] overflow-hidden"
  >
    <div class="main-container relative z-30 lp:pb-4">
      <div class="mt-[180px] space-y-[76px] md:mt-[200px] lg:mt-[280px]">
        <div class="space-y-4 text-center">
          <span data-ns-animate data-delay="0.2" class="badge badge-green">Integration</span>
          <div class="space-y-3">
            <h2 data-ns-animate data-delay="0.3">
              Seamless AI <span class="text-primary-500 dark:text-ns-cyan">integration</span>
            </h2>
            <p
              data-ns-animate
              data-delay="0.4"
              class="mx-auto max-w-[420px] text-center text-secondary/70 dark:text-accent/70"
            >
              Connect Voxil Ai  with the tools and AI platforms your business already uses.
            </p>
          </div>
        </div>

        <div data-ns-animate data-delay="0.5" class="text-center" data-offset="10">
          <a
            href="./integration.html"
            class="btn btn-secondary hover:btn-primary dark:btn-transparent dark:border-primary-50 btn-md mx-auto inline-block w-[85%] md:w-auto"
          >
            <span>Explore integration</span>
          </a>
        </div>
      </div>
    </div>

    <!-- circle -->
    <div class="absolute top-2 left-1/2 -z-10 -translate-x-1/2">
      <div class="w-[800px] md:w-[750px] lg:w-[990px] xl:w-[1300px] 2xl:w-[1400px]">
        <Component src="src/components/pages/integration-circle/integration-circle.htm" />
      </div>
    </div>

    <!-- bottom gradient overlay -->
    <div
      class="absolute bottom-0 z-0 h-[258px] w-full rotate-180 lp:-bottom-5"
      style="
        background: linear-gradient(
          0deg,
          rgba(249, 250, 251, 0) 0%,
          var(--color-background-2) 49.16%
        );
      "
    ></div>
  </div>
</section>
