<!-- =========================
Newsletter section
===========================-->
<section
  class="bg-secondary dark:bg-background-5 pt-14 pb-14 md:pt-16 md:pb-16 lg:pt-[76px] lg:pb-[76px]"
>
  <div class="main-container">
    <div class="mx-auto max-w-[690px] text-center">
      <span data-ns-animate data-delay="0.2" class="badge badge-blur text-ns-yellow mb-5">
        Let's talk
      </span>
      <h2 data-ns-animate data-delay="0.3" class="mb-3 text-white">
        Ready to automate your growth?
      </h2>
      <p data-ns-animate data-delay="0.4" class="mb-6 text-white/60">
        Whether you need an AI agent, a custom SaaS platform, or full workflow automation — Voxil Ai  is here to build it. Let's create something powerful together.
      </p>

      <div data-ns-animate data-delay="0.5" class="text-center md:inline-block">
        <a
          href="./contact.html"
          class="btn btn-primary btn-md hover:btn-white dark:hover:btn-accent w-[85%] md:w-auto"
        >
          <span>Start your project</span>
        </a>
      </div>
    </div>
  </div>
</section>