<!-- =========================
Pricing section
===========================-->
<section
  class="relative pt-16 pb-16 md:pt-20 md:pb-20 lg:pt-[90px] lg:pb-[90px] xl:pt-[100px] xl:pb-[100px]"
>
  <div class="main-container flex flex-col gap-[70px]">
    <div class="flex flex-col items-center text-center">
      <span data-ns-animate data-delay="0.2" class="badge badge-green mb-5">Pricing plans </span>
      <h2 data-ns-animate data-delay="0.3" class="mb-3">AI solutions tailored to your budget.</h2>
      <p data-ns-animate data-delay="0.4" class="mb-5 md:mb-7">
        Transparent pricing for AI agents, automation, SaaS, and web development.
        <br class="hidden lg:block" />
        Whether you need a single AI agent or a full-scale SaaS platform, Voxil Ai  has a plan that fits your goals.
      </p>
      <div data-ns-animate data-delay="0.5">
        <label class="relative z-[10] inline-flex cursor-pointer items-center">
          <span class="text-secondary dark:text-accent mr-2.5 text-base font-normal">Monthly</span>
          <input
            type="checkbox"
            id="priceCheck"
            class="peer sr-only"
            aria-label="Toggle between monthly and yearly pricing"
          />
          <span
            class="after:bg-accent bg-secondary dark:bg-background-9 before:border-accent/10 dark:before:border-stroke-7 relative h-[28px] w-13 rounded-[34px] before:absolute before:top-1/2 before:left-1/2 before:h-[calc(100%-10px)] before:w-[calc(100%-10px)] before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-[20px] before:border before:content-[''] after:absolute after:start-[5px] after:top-1/2 after:h-6 after:w-6 after:-translate-y-1/2 after:rounded-full after:transition-all after:content-[''] peer-checked:after:start-[4px] peer-checked:after:translate-x-[75%]"
          ></span>
          <span class="text-secondary dark:text-accent ms-2.5 text-base font-normal">Yearly</span>
        </label>
      </div>
    </div>
    <div class="relative">
      <div class="grid grid-cols-12 items-center justify-items-center gap-y-10 lg:gap-x-8">
        <!-- Price Card 1 - Starter -->
        <div
          data-ns-animate
          data-delay="0.2"
          class="col-span-12 flex h-full w-full max-w-[604px] flex-col gap-6 rounded-[20px] bg-white p-8 lg:col-span-4 xl:px-14 xl:py-[60px] dark:bg-black"
        >
          <div class="space-y-8">
            <div>
              <h5 class="text-heading-5 mb-2 font-normal">Starter</h5>
              <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 mb-4">For MVPs & single AI integrations</p>
              <div class="border-stroke-2 dark:border-stroke-6 border-b pb-8">
                <div class="price-month mb-4">
                  <h4 class="text-heading-6 sm:text-heading-4 font-normal">
                    $<span>2,500</span><span class="text-tagline-2"> /project</span>
                  </h4>
                </div>
                <div class="price-year mb-8 hidden">
                  <h4 class="text-heading-6 sm:text-heading-4 font-normal">
                    $<span>2,250</span><span class="text-tagline-2"> /project</span>
                  </h4>
                </div>
                <a
                  href="./contact.html"
                  class="btn btn-md hover:btn-primary dark:btn-white-dark btn-white block w-full text-center first-letter:uppercase before:content-none"
                >
                  Get started
                </a>
              </div>
            </div>
            <ul class="relative list-none space-y-4">
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >1 AI agent or automation workflow</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >Basic UI/UX design</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >Single platform deployment</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >2–3 week delivery</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >1 revision cycle + basic QA</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >30-day post-launch support</span
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- Price Card 2 - Growth (Popular) -->
        <div
          data-ns-animate
          data-delay="0.3"
          class="relative col-span-12 flex h-full w-full max-w-[604px] flex-col overflow-hidden rounded-[20px] p-2.5 lg:col-span-4"
        >
          <!-- gradient bg  -->

          <figure
            class="pointer-events-none absolute top-[-20%] left-[-30%] w-[810px] rotate-[30deg] select-none md:top-[-40%] md:left-[-20%] md:w-[950px] lg:top-[-20%] lg:left-[-30%] lg:w-[810px]"
          >
            <img
              src="./images/ns-img-539.png"
              alt="gradient-bg"
              class="h-full w-full object-cover"
            />
          </figure>

          <div
            class="relative z-10 flex h-full flex-col gap-6 rounded-[20px] bg-white p-8 xl:px-14 xl:py-[60px] dark:bg-black"
          >
            <div class="space-y-8">
              <div>
                <div class="flex items-center gap-2 mb-2">
                  <h3 class="text-heading-5 font-normal">Growth</h3>
                  <span class="badge badge-green text-tagline-3">Popular</span>
                </div>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 mb-4">For SaaS & multi-agent systems</p>
                <div class="border-stroke-2 dark:border-stroke-6 border-b pb-8">
                  <div class="price-month mb-4">
                    <h4 class="text-heading-6 sm:text-heading-4 font-normal">
                      $<span>8,000</span><span class="text-tagline-2">/project</span>
                    </h4>
                  </div>
                  <div class="price-year mb-8 hidden">
                    <h4 class="text-heading-6 sm:text-heading-4 font-normal">
                      $<span>7,200</span><span class="text-tagline-2">/project</span>
                    </h4>
                  </div>
                  <a
                    href="./contact.html"
                    class="btn btn-md btn-primary dark:hover:btn-white hover:btn-secondary block w-full text-center first-letter:uppercase before:content-none"
                  >
                    Get started
                  </a>
                </div>
              </div>

              <ul class="relative list-none space-y-4">
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent text-tagline-1 font-normal"
                    >Full AI SaaS platform development</span
                  >
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent text-tagline-1 font-normal"
                    >Multi-agent AI systems</span
                  >
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent text-tagline-1 font-normal"
                    >Product strategy & roadmap</span
                  >
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent text-tagline-1 font-normal"
                    >Cross-platform deployment</span
                  >
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent text-tagline-1 font-normal"
                    >API integrations & webhooks</span
                  >
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent text-tagline-1 font-normal"
                    >Dedicated project manager</span
                  >
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent text-tagline-1 font-normal"
                    >90-day post-launch support</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Price Card 3 - Enterprise -->
        <div
          data-ns-animate
          data-delay="0.4"
          class="col-span-12 flex h-full w-full max-w-[604px] flex-col gap-6 rounded-[20px] bg-white p-8 lg:col-span-4 xl:px-14 xl:py-[60px] dark:bg-black"
        >
          <div class="space-y-8">
            <div>
              <h5 class="text-heading-5 mb-2 font-normal">Enterprise</h5>
              <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 mb-4">For full-scale AI transformation</p>
              <div class="border-stroke-2 dark:border-stroke-6 border-b pb-8">
                <div class="price-month mb-4">
                  <h4 class="text-heading-6 sm:text-heading-4 font-normal">
                    <span>Custom</span><span class="text-tagline-2"> pricing</span>
                  </h4>
                </div>
                <div class="price-year mb-8 hidden">
                  <h4 class="text-heading-6 sm:text-heading-4 font-normal">
                    <span>Custom</span><span class="text-tagline-2"> pricing</span>
                  </h4>
                </div>
                <a
                  href="./contact-us-page.html"
                  class="btn btn-md hover:btn-primary dark:btn-white-dark btn-white block w-full text-center first-letter:uppercase before:content-none"
                >
                  Contact us
                </a>
              </div>
            </div>
            <ul class="relative list-none space-y-4">
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >Everything in Growth, plus:</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >Custom AI architecture & strategy</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >Unlimited agents & automations</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >Enterprise-grade security</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >On-premise deployment option</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >SLA & priority support</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary/40 dark:fill-accent/40"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 text-tagline-1 font-normal"
                  >Dedicated dev team & ongoing maintenance</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>