<li class="relative space-y-0">
  <button
    class="sub-menu text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left flex items-center justify-between cursor-pointer"
  >
    <span>Resources</span>
    <span class="sub-menu-arrow transition-all duration-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M8 12L12 8L8 4"
          class="stroke-secondary dark:stroke-accent"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
  </button>
  <div
    class="hidden ml-3.5 transition-all duration-300 w-full bg-white dark:bg-background-7 max-h-[500px] overflow-y-auto scroll-bar"
  >
    <ul>
      <li>
        <a
          href="./documentation.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Documentation
        </a>
      </li>
      <li>
        <a
          href="./faq.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          FAQ
        </a>
      </li>
      <li>
        <a
          href="./support.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Support
        </a>
      </li>
      <li>
        <a
          href="./use-case.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Use Cases
        </a>
      </li>
      <li>
        <a
          href="./success-stories.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Success Stories
        </a>
      </li>
      <li>
        <a
          href="./analytics.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Analytics
        </a>
      </li>
      <li>
        <a
          href="./changelog.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Changelog
        </a>
      </li>
      <li>
        <a
          href="./security.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Security
        </a>
      </li>
      <li>
        <a
          href="./gdpr.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          GDPR Compliance
        </a>
      </li>
      <li>
        <a
          href="./privacy-policy.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Privacy Policy
        </a>
      </li>
      <li>
        <a
          href="./terms-conditions.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Terms & Conditions
        </a>
      </li>
      <li>
        <a
          href="./press.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Press Coverage
        </a>
      </li>
      <li>
        <a
          href="./affiliate-policy.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Affiliate Policy
        </a>
      </li>
      <li>
        <a
          href="./legal.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 w-full text-left block"
        >
          Legal
        </a>
      </li>
    </ul>
  </div>
</li>
