<!-- Lead Capture & Conversion System Page Hero Section -->
<section
  class="hero-section lg:pb-[100px] pb-[70px] lg:pt-[150px] pt-[100px] overflow-hidden bg-background-1 dark:bg-background-8 rounded-b-[30px]">
  <div class="flex items-center lg:flex-row flex-col lp:gap-[42px] lg:gap-8 gap-y-14 max-w-[1920px] mx-auto">
    <div class="2xl:pl-[320px] lp:pl-[150px] xl:pl-[120px] lg:pl-[80px] xl:space-y-10 lg:space-y-8 space-y-6">
      <div class="space-y-5 lg:text-left text-center">
        <span data-ns-animate data-delay="0.2" class="badge badge-cyan">Services</span>
        <div class="space-y-4">
          <h1 data-ns-animate data-delay="0.3" class="lg:max-w-[645px] md:max-w-[500px] max-sm:mx-5 md:mx-0 mx-auto">
            Lead Capture &
            <span class="text-primary-500">Conversion System</span>
          </h1>
          <p data-ns-animate data-delay="0.4" class="lg:max-w-[595px] sm:max-w-[400px] max-w-[350px] lg:mx-0 mx-auto">
            Transform scattered leads into a streamlined sales pipeline with a centralized lead management and
            automation platform.
          </p>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" data-instant class="lg:text-left text-center">
        <a href="./book-meeting.html"
          class="btn hover:btn-primary dark:btn-accent btn-md sm:btn-lg btn-secondary w-[90%] sm:w-auto">
          <span>Book a free consultation</span>
        </a>
      </div>
    </div>
    <div>
      <div
        class="relative 2xl:max-w-[1024px] lg:max-w-[900px] md:max-w-[700px] sm:max-w-[500px] min-[425px]:max-w-[350px] max-w-[300px] lg:mx-0 mx-auto w-full 2xl:ml-[120px] xl:ml-[70px] lg:ml-[40px]">
        <figure data-ns-animate data-delay="0.8" data-duration="1" data-direction="right" data-offset="80"
          class="opacity-0 relative z-10">
          <img src="./images/ns-img-121.jpeg" class="w-full h-full relative z-10 dark:hidden rounded-2xl" alt="hero" />
          <img src="./images/ns-img-dark-90.jpeg" class="w-full h-full relative z-10 hidden dark:block rounded-2xl"
            alt="hero" />
        </figure>

      </div>
    </div>
  </div>
</section>